# code/ecommerce_api/.dockerignore
*.pyc
*.pyo
*.mo
*.db
*.sqlite3
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__/
dist/
docs/
env/
logs/
staticfiles/
tmp/
vendor/
.env
.DS_Store
Dockerfile
docker-compose.yml